@charset "UTF-8";
@import "common/var";
@import "mixins/mixins";

@include b(json-item) {
    display: flex;
    align-items: center;
    border: 1px solid #dddddd;
    padding: 10px;
    margin-bottom: 10px;

    &-key {
        margin-right:10px;
        color: rgba($--color-info, 0.6);
    }
    &-value {
        color: rgba($--color-primary, 0.7);
        input {
            width: 300px;
            height: 22px;
            text-indent: 5px;
            margin-left: 10px;
        }
    }
    &-array {
        display: flex;
        align-items: center;
        & > div {
            margin-right: 10px;
        }
    }
}